.GNOMEproject_div_pos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 30rem;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}

.GNOMEDivSize {
    width: 30rem;
    height: 25rem;
}

.GNOMEDivCommonProps {
    padding: 4px;
    margin: 8px;
    background-color: white;
}

.GNOMEbox-shadow {
    box-shadow: 2px 4px 8px rgb(10, 10, 10);
}

.GNOMEGiveAnimation {
    animation: GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) 2s infinite forwards;
}

.GNOMEPosRel {
    position: relative;
}

.GNOMEProjImg {
    /* opacity: 1; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 0;
}

.GNOMEHide {
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.GNOMEDivHide {
    display: none;
}

.GNOMEContributorClass {
    position: absolute;
    /* z-index: 1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    animation: GNOMEanimate 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards;
}

.GNOMEConts_PFP {
    width: 2rem;
    height: 2rem;
    transform: translateY(20rem);
    opacity: 0;
    transition: transform 0.9s ease-in, opacity 0.5s ease-out 0.5s;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}

.GNOMERush_up {
    transform: translateY(0);
    opacity: 1;
    transition: transform 1.4s ease-out, opacity 0.8s ease-out;
}

.GNOMEUnderline-effect {
    width: 3rem !important;
    height: 1.5px !important;
    background-color: white;
    transition: width 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

/* TIMED ANIMATION FOR THE PROJECT */

.GNOMEMainAnimateCOMPLETED {
    animation:
        GNOMEMainAnimationCOMPLETED 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEMainExitAnimationCOMPLETED 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEDetailsAnimateCOMPLETED {
    animation:
        GNOMEDetailsAnimation 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards,
        GNOMEDetailsExitAnimation 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEMoreDetailsAnimateCOMPLETED {
    animation:
        GNOMEMoreDetailsAnimation 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards,
        GNOMEMoreDetailsExitAnimation 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEMainAnimateINPROGRESS {
    animation:
        GNOMEMainAnimationINPROGRESS 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEMainExitAnimationINPROGRESS 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEDetailsAnimateINPROGRESS {
    animation:
        GNOMEDetailsAnimation 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards,
        GNOMEDetailsExitAnimation 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEMoreDetailsAnimateINPROGRESS {
    animation:
        GNOMEMoreDetailsAnimation 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards,
        GNOMEMoreDetailsExitAnimation 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEMainAnimateABAN {
    animation:
        GNOMEMainAnimationABAN 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEMainExitAnimationABAN 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEDetailsAnimateABAN {
    animation:
        GNOMEDetailsAnimation 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards,
        GNOMEDetailsExitAnimation 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

.GNOMEMoreDetailsAnimateABAN {
    animation:
        GNOMEMoreDetailsAnimation 4s cubic-bezier(0.215, 0.610, 0.355, 1) 1 forwards,
        GNOMEanimate 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards,
        GNOMEMoreDetailsExitAnimation 18s cubic-bezier(0.215, 0.610, 0.355, 1) 14s 1 forwards;
}

@keyframes GNOMEMainAnimationCOMPLETED {
    0% {
        transform: translateY(-1000rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes GNOMEMainExitAnimationCOMPLETED {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1000rem);
    }
}

@keyframes GNOMEMainAnimationINPROGRESS {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes GNOMEMainExitAnimationINPROGRESS {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes GNOMEMainAnimationABAN {
    0% {
        transform: translateY(1000rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes GNOMEMainExitAnimationABAN {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1000rem);
    }
}

@keyframes GNOMEDetailsAnimation {
    0% {
        transform: translateX(-1000rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes GNOMEDetailsExitAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1000rem);
    }
}

@keyframes GNOMEMoreDetailsAnimation {
    0% {
        transform: translateX(1000rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes GNOMEMoreDetailsExitAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000rem);
    }
}

@keyframes GNOMEanimate {

    0%,
    100% {
        background-color: blue;
    }

    12.5% {
        background-color: rgb(43, 43, 243);
    }

    25% {
        background-color: rgb(43, 213, 243);
    }

    37.5% {
        background-color: rgb(73, 243, 43);
    }

    50% {
        background-color: rgb(166, 242, 24);
    }

    62.5% {
        background-color: rgb(24, 110, 209);
    }

    75% {
        background-color: rgb(95, 24, 209);
    }

    87.5% {
        background-color: rgb(6, 67, 164);
    }
}

@media screen and (min-width: 480px) {
    .GNOMEproject_div_pos {
        height: auto;
    }

    .GNOMESmallerText {
        font-size: smaller !important;
    }
}

@media screen and (max-width: 600px) {
    .GNOMEMoreDets {
        display: none;
    }

    /* .GNOMEProjImg
    {
        height: fit-content;
    } */
}

@media screen and (max-width: 400px) {
    .GNOMEDets {
        display: none;
    }
}

/* --------------- */

/* specifically for one element */
/* .GNOMEIncZIND {
    z-index: 2;
} */

.GNOMEupdate_bg {
    width: 100%;
    height: 100%;
    background-size: 400% 400%;
    animation:
        GNOMEanimate 6s cubic-bezier(0.215, 0.610, 0.355, 1) 2 forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* background-color: cyan;
    transition: background-color 0.1s ease-out 12.01s; */
}

@keyframes GNOMEreceed {

    0% {
        background-color: rgb(255, 0, 255);
    }

    25% {
        background-color: rgb(0, 255, 255);
    }

    50% {
        background-color: rgb(255, 255, 0);
    }

    75% {
        background-color: rgb(255, 255, 255);
    }

    100% {
        background-color: unset;
    }
}

.GNOMEButtonLinkHover:hover {
    background-color: rgb(110, 108, 108);
    transition: background-color 1s ease-in;
}

.GNOMECave-in {
    perspective: 1000px;
    perspective-origin: center;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6);
    transform: translateZ(-200px);
    position: relative;
    z-index: 0;
}